/* ===========================
   GOOGLE RESET
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Manrope',sans-serif;
    background:#0A0A0A;
    color:#FFFFFF;
    overflow-x:hidden;
}

/* ===========================
   COLORS
=========================== */

:root{

    --bg:#0A0A0A;
    --surface:#141414;
    --card:#1A1A1A;

    --white:#ffffff;
    --text:#A1A1AA;

    --accent:#7C3AED;

    --border:#2A2A2A;

}

/* ===========================
   COMMON
=========================== */

section{

    width:100%;
    padding:100px 10%;

}

a{

    text-decoration:none;

}

ul{

    list-style:none;

}

img{

    max-width:100%;
    display:block;

}
